<form action="/fileupload" method="post" enctype="multipart/form-data">
<input type="file" name="filetoupload"><br>
<input type="submit">
</form>

<h2>Fichiers</h2>

<% for (var i = 0; i < files.length; i++) { %>
  <div>Fichier : <%= files[i]; %></div>
<% } %>